:root
{
    --width-scale: calc(100vw / 1920px);
    --height-scale: calc(100vh / 1080px);
    --scale: min(var(--width-scale), var(--height-scale));
}

html
{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: calc(24px * var(--scale));  
}

*,
*::before,
*::after
{
    box-sizing:inherit;
}

body
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(33, 57, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.unselectable
{
    user-select: none;
}

.calculator
{
    display: flex;
    flex-direction:column;
    min-width: 250px;
    max-width: 700px;
    flex: 0 1 calc(500px * var(--scale));
    padding: 10px 10px 10px;
    gap: calc(20px * var(--scale));
    background-color: rgb(64, 99, 97);
    border: clamp(5px, calc(10px * var(--scale)), 10px) solid rgb(3, 133, 129);
}

.logo
{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 64px;
    justify-content:begin;
    align-items: end;
    margin-bottom: calc(-18px * var(--scale));;
}
.picture
{
    padding: 0;
    margin-bottom: -32px;
    width: 64px;
    height: 64px;
}
.picture:hover
{
    margin-bottom: 0px;
}
.title
{
    padding: 0px;
    margin: 0px;
    font-family: "Eurostile", "Microgramma", sans-serif;
    font-size: clamp(14px, calc(18px * var(--scale)), 18px);
    font-weight: bolder;
    color: rgb(7, 173, 167)
}

.display
{
    margin-top: 0;
    border: 3px solid;
    font-family: "Orbitron", "Share Tech Mono", monospace;
    font-weight: 400;
    font-size: clamp(32px, calc(64px * var(--scale)), 64px);
    overflow: hidden;
    padding-left: 10px;
    color: rgb(7, 173, 167);
    background-color:rgb(2, 37, 29);
    min-height: clamp(46px, calc(76px * var(--scale)), 84px);
    max-height: clamp(46px, calc(76px * var(--scale)), 84px);
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 0 1 30%;
}
.displayText
{
    font-size: clamp(14px, calc(28px * var(--scale)), 64px);
}

.inputArea
{
    display: flex;
    flex-direction:row;
    gap: calc(10px * var(--scale))
}

button
{
    font-family: "Inter", "Roboto", system-ui, sans-serif;
    font-weight: bold;
    font-size: clamp(24px, calc(48px * var(--scale)), 64px);
    color:rgb(2, 57, 38);
    background-color: rgb(75, 160, 152);
    border: 3px solid;
}
button:hover
{
    background-color: rgb(106, 225, 213);
}
.active,
button:active
{
    background-color: rgb(47, 99, 93);
}

.leftInput,
.rightInput
{
    display: flex;
    flex-wrap: wrap;
}
.leftInput
{
    flex: 1 1 60%;
}
.rightInput
{
    flex: 1 1 40%;
}
.leftInput > *
{
   flex: 0 0 calc(100% / 3);
   aspect-ratio: 1;
}
.rightInput > *
{
    flex: 0 0 calc(100% / 2);
    aspect-ratio: 1;
}
.wide
{
    flex: 0 0 100%;
}
.leftInput > .wide
{
    aspect-ratio: 3;
}
.rightInput > .wide
{
    aspect-ratio: 2;
}




